<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Usuarios">Usuarios</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Elementos</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Admin/Elemento">Elemento</a></li>
            <li><a class="dropdown-item" href="/Admin/TipoElemento">Tipo Elemento</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Proceso</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Admin/Proceso">Proceso</a></li>
            <li><a class="dropdown-item" href="/Admin/TipoProceso">Tipo Proceso</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Académico</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Admin/Programa">Programa</a></li>
            <li><a class="dropdown-item" href="/Admin/Ficha">Ficha</a></li>
        </ul>
    </li>
</ul>

<style>
    .nav-link{
    color:#000000;
       
    }

    .nav-link:hover{
            color: #000000;
    }
 </style>